.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  background-color: rgb(246, 246, 246);
}

.body input {
  height: 22px;
  width: 300px;
}

.body button {
  margin-top: 12px;
  width: 200px;
  height: 32px;
}

.content-form {
  background-color: rgb(239, 239, 239);
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  /* justify-content: center; */
}

.error-message {
  font-weight: bold;
  color: #ff8686;
  height: 24px;
}

.content-form .invalid {
  background-color: #ff8686;
}
