.content-body {
  background-color: rgb(253, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.content-body button {
  width: 200px;
  height: 32px;
}
